extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title
  p A spot for all Marvel fans.
  a(class='button' href='/user/login') Login
  br
  a(class='button' href='/user/signup') Sign Up
  br
  a(class='button' href='/user/login/demo') Demo User
