doctype html
html
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(property='og:title' content='Marvelous')
  meta(property='og:image' content='https://i.imgur.com/0yr45hw.png')
  meta(property='og:description' content='Marvelous is a spot for Marvel Movie/TV fans to share reviews and to display watched movies on your profile.')
  meta(property='og:url' content='https://marvelousreviews.herokuapp.com/')

  head
    block head

        //- link(rel="stylesheet" href="/stylesheets/reset.css")
        //- link(rel="stylesheet" href="/stylesheets/navbar.css")

  body
    //- block nav
    //-   include navBar.pug

    block content
