doctype html
html
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

  head
    block head

        //- link(rel="stylesheet" href="/stylesheets/reset.css")
        //- link(rel="stylesheet" href="/stylesheets/navbar.css")

  body
    //- block nav
    //-   include navBar.pug

    block content
