doctype html
html
  head
      block head
        link(rel="stylesheet" href="/stylesheets/navbar.css")
        meta(property='og:title' content='Marvelous')
        meta(property='og:image' content='https://i.imgur.com/0yr45hw.png')
        meta(property='og:description' content='Marvelous is a spot for Marvel Movie/TV fans to share reviews and to display watched movies on your profile.')
        meta(property='og:url' content='https://marvelousreviews.herokuapp.com/')

  body
      nav(class="navbar")
            a(class="navbar-logo" id='top' href="/")
              img(src="../images/MarvelousLogo.png" class="logo")
            if locals.authenticated
              ul(class="navLinks")
                li: a(class="moviesLink" href="/movies/all") Movies
                li: a(class="myProfileLink" href="/user/profile") Welcome #{user.username}!
                li: form(action="/user/logout" method="post")
                    button(class="button" type='submit') Logout
            else
              ul(class="navLinks")
                li: a(class="moviesLink" href="/movies/all") Movies
                li: a(class="moviesLink" href="/user/login") Login
                li: a(class="moviesLink" href="/user/signup") SignUp
