extends layout.pug
block head
    title='Profile'
block content
    div Profile Information

        p Followers 300

        p Following 75

        p My MovieShelf
        // insert user's favorite movies here (their own library)
        p Likes
        // insert user's liked movies
        p Dislikes
        // insert user's disliked movies
        p Reviews
        //insert user's reviews/comments here?

//insert hyperlinks at bottom of page to return to home page
