mixin validationErrorSummary(errors)
    if errors
        div(class="error_list")
            p The following Error(s) occured:
                ul(class="errors")
                    each error in errors
                        li= error
