body {
    background-color: rgb(51, 46, 46);
    /* height: 100vh; */
    color: white;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(https://cdnb.artstation.com/p/assets/images/images/008/553/927/medium/alan-bouret-ironman-arnold-artstation.jpg?1513526155);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.movieImg {
    width: 200px;
    height: 280px;
    /* padding: 10px 10px;
    margin: 10px 15px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* margin: auto; */
    cursor: pointer;
    transition: transform 0.5s;
    border-radius: 20px;
    border: 2px solid purple;
    margin-bottom: 0;
    margin-top: 15px;
}

.movieImg:hover {
    transform: translateY(-5px);
    -o-transition: 1s;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
    box-shadow: 0 0 30px rgb(110, 4, 110);
}

.movie-pack {
    margin-bottom: 80px;
    border: 2px solid indigo;
    padding: 20px;
    margin-right: 40px;
    margin-left: 40px;
    border-radius: 150px;
    background-color: rgba(147, 112, 216, 0.164);
}

.movie_container {
    width: 80%;
    margin: 0;
    margin-top: 30px;
    display: inline-grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    margin-left: 180px;
    padding-bottom: 60px;
}

h1 {

    text-shadow: 0 1px 15px rgb(255, 238, 0);
    text-align: center;
    font-size: 40px;
}

.movie_stats li {
    list-style: none;
    font-size: 25px;
    text-align: center;
    margin-left: -40px;
    text-shadow: 0 1px 5px yellow;
}

.add_button {
    background: indigo;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: .5s;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 5px;
    padding-right: 10px;
    margin-bottom: 15px;
}

.add_button:hover {
    box-shadow: 0px 0px 15px yellow;
    color: yellow;
}

.backtoTop {
    bottom: 0;
    right: 0;

    position: fixed;
    margin-bottom: 20px;
    margin-right: 30px;
    text-shadow: -1px 1px 10px rgb(157, 255, 0),
				  1px 1px 2px rgb(55, 172, 2),
				  1px -1px 25px rgb(0, 255, 106),
				  -1px -1px 5px rgb(8, 255, 255);
}
